#blog{
    background-color: darkseagreen;
    color: white;
    margin-top: -8%;
}

#blog h1{
    text-align: center;
    font-size: 5em;
    padding-top: 5%;
}

#blog .clanok{
    display: flex;
    flex-wrap: wrap; /*ulozenie text obrazok*/
}

#blog .text{
    width: 700px;
    padding-left: 10%;
}

#blog .obr{
    width: 300px;
    margin-top: 3%;
}

#blog p{
    margin: 0;
}

#blog img{
    border-radius: 40%;
    width: 50%;
}

.text a{
    color: white;
    text-decoration: none;
}
h1:hover {
    color: mediumseagreen;
}

.text a:hover{
    color: salmon;
    font-size: larger;
}

.obr :last-child{
    margin-bottom: 10%;
}


#section-about h1{
    text-align: center;
    font-size: 5em;
    padding-top: 5%;
    margin: 0;
    margin-bottom: 5%
}

#section-about h2{
    font-size: 4em;
    margin: 0;
}

#section-about h3{
    font-size: 1.6em;
    margin: 0;
}

#section-about p{
    text-align: justify;
    padding-top: 2%;
    font-size: 2em;
    margin-top: 0;
}

#section-foundres h1{
    font-size: 4em;
}

#section-foundres{
    background-color: darksalmon;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
    padding-bottom: 5%;
}

#section-foundres .text{
    width: 100%;
    display: flex;
}

#section-foundres .box{
    width: 25%;
    padding-left: 6%;
}

#section-foundres img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

#section-foundres .position-text {
    opacity: 0;
    text-align: center;
}

#section-foundres .box:hover img {
    opacity: 0.3;
}

#section-foundres .box:hover .position-text {
    opacity: 1;
}

#section-foundres .name {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

#section-foundres h1 {
    color: white;
}
