/* smooth scrollovanie menu*/
/*html{
    scroll-behavior: smooth;
    min-width: 1000px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: darkseagreen;
    background: white;
    margin: 0 auto; /*margin navbar zhora*/
  /*  max-width: 100%;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
}

#top{
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 60px;
    position: relative;
}

a {
    text-decoration: none; /* spodna ciarka linku*/
/*}

ul{
    list-style-type: none ; /* bez prvkov zoznamu*/
/*}

 */
#top #navbar{
    /*position: fixed; /*aj pri scrollovani ostava na mieste*/
     /*width: 100%;
    background: darkseagreen;
    display: flex;*/
    z-index: 1;
}
/*
.container  {
    margin: 0 auto;
}



.navbar-nav-items a {
    padding-top: 15px;
    padding-left: 10px;
    color: darkseagreen;
    text-transform: uppercase;
    line-height: 30px;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
}


#top a:hover {
    color: mediumseagreen;
}

#myLinks{
    display: flex;
    margin-left: 22%;
}

#top a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
}

/*scroll hamburger*/
/*#top a.icon {
    display: none;
}
/*kvietok*/
/*.plant img{
    height: 50px;
    padding-left: 1%;
}

.plant{
    width: 10%;

}

